.profile {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.profile > div {
    margin-bottom: 20px;
}


.profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.username {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0 5px;
}


.tag {
    color: #888;
    margin-bottom: 5px;
}


.location {
    color: #555;
}


.stats_value {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 10px 0;
}

.stats_value li {
    font-size: 0.9em;
    text-align: center;
    text-decoration: none;
}


.stats_value span:first-child {
    display: block;
    color: #888;
    margin-bottom: 5px;
}
