.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  table {
    border-collapse: collapse; 
    width: 80%; 
    margin: 0 auto; 
  }
  
  th, td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: center; 
  }
  